/* City styles  */
.city {
  margin-top: 80px;
  margin-bottom: 32px;
}

.city > .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.container > .item {
  flex: 1;
  margin-right: 24px;
  position: relative;
  height: 250px;
}
.container > .item:last-child {
  margin-right: 0;
}

.container > .item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
}

.container > .item > h2,
.container > .item > h3 {
  position: absolute;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
  color: #fff;
}

.container > .item > h2 {
  bottom: 20%;
  left: 6%;
  font-size: 36px;
}
.container > .item > h3 {
  position: absolute;
  bottom: 6%;
  left: 6%;
  font-size: 24px;
}

/* Responsive City CSS */
@media screen and (max-width: 900px) {
  .container > .item {
    height: 150px;
  }
  .container > .item > h2 {
    font-size: 28px;
  }
  .container > .item > h3 {
    font-size: 14px;
  }
}

/* Responsive City CSS */
@media screen and (max-width: 650px) {
  .container > .item {
    height: 150px;
  }
  .container > .item > h2 {
    font-size: 20px;
  }
}
